*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.box{
    width: 80%;
    min-width:50px;
    border: 1px solid black;
    margin: auto;
}
nav{
    width: 80%;
    min-height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    overflow: hidden;
}
nav ul{
    width: 100%;
}
nav ul li{
    list-style-type: none;
    display: inline-block; 
    padding-top: 15px;
}
nav ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
#section1
{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(90deg,#BE93C5,#7BC6CC); */
    /* background-color: #213A57; */
    background-color: #c3c7f3;
}

#section1 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}
#section2
{
    width: 100%;
    height: 100vh;
    /* background-color:#0B6477 ; */
    background-color: #c8a8e9;
}
#section2 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}
#section3
{
    width: 100%;
    height: 100vh;
    /* background-color:#14919B; */
    background-color: #e3aadd;
}
#section3 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}
#section4
{
    width: 100%;
    height: 100vh;
    /* background-color:#0AD1c8 ; */
    background-color: #f5bcba;
}
#section4 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}
#section5
{
    width: 100%;
    height: 100vh;
    /* background-color:#45DFB1; */
    background-color: #f3dcdc;
}
#section5 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}